= simple_form_for(current_user, url: registration_path(:user), method: :put, html: { id: 'edit-email' }) do |form|
  = form.input :email
  - if current_user.pending_reconfirmation?
    .mb-25.reconfirmation-email
      %p
        = t('.reconfirmation')
      %p.in-gold-500
        = current_user.unconfirmed_email
