%main.container
  %h1.general-title-margin
    = t('catalog_page.page_name')
  = render partial: 'books/partials/sorting', locals: { current_category: @current_category, categories: @categories, books_count: @books_count }
  = render partial: 'books/partials/books_list', locals: { books: @books,  current_category: @current_category}
