%main.container
  %i.fas.fa-long-arrow-alt-left
  = link_to t('.link.back_to_results'), url_for(:back), class: 'general-back-link'
  = render partial: 'books/partials/book_description', locals: { book: @book }
  = render 'books/partials/write_review'
  = render 'books/partials/reviews'
