%main.container
  %a.general-back-link{href: url_for(:back)}
    %i.fas.fa-long-arrow-alt-left.mr-15
      = t('.link.back_to_results')
  = render partial: 'books/partials/book_description', locals: { book: @book }
  = render 'books/partials/write_review'
  = render 'books/partials/reviews'
