%main.container
  .row
    .col-md-5.mb-40
      = render 'homes/partials/checkout_login/returning_customer_form'
    .col-md-5.col-md-offset-1.mb-60
      = render 'homes/partials/checkout_login/new_customer_form'
