= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'general-login-icon google' do
  .fab.fa-google.mr-20
= link_to user_facebook_omniauth_authorize_path, method: :post, class: 'general-login-icon facebook' do
  .fab.fa-facebook-square
%p.general-login-text
  = t('devise.or')
