.text-center
  %input#books_count{ type: 'hidden', value: Book::BOOKS_PER_PAGE, data: { per_page: Book::BOOKS_PER_PAGE, category_id: current_category } }
  %a.btn.btn-primary.view-more
    = t('buttons.view_more')
