- unless collection.count == books.count
  .text-center
    %input#books_count{ type: 'hidden', value: books.count, data: { category_id: params[:category_id] } }
    %a.btn.btn-primary.general-position.view-more
      = t('.button.view_more')
