.mb-80.reviews
  %h3.in-gold-500.mb-25
    = t('.title')
  .general-message-wrap.divider-lg
    .clearfix
      %img.img-circle.logo-size.inlide-block.pull-left{src: "https://images.squarespace-cdn.com/content/v1/520b8498e4b021ed6a2b2c08/1440941946597-6021MJDPV2727IXF4K6X/ke17ZwdGBToddI8pDm48kDHPSfPanjkWqhH6pl6g5ph7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0mwONMR1ELp49Lyc52iWr5dNb1QJw9casjKdtTg1_-y4jz4ptJBmI9gQmbjSQnNGng/image-asset.jpeg"}
      .ml-70
        %div
          .general-message-date.hidden-xs 11/11/16
          .max-240
            .general-message-verified Verified Reviewer
            .general-message-name Rita J. Lewis
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
        %p.reviwer-message Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
  .general-message-wrap.divider-lg
    .clearfix
      %span.img-circle.logo-size.inlide-block.pull-left.logo-empty M
      .ml-70
        %div
          .general-message-date.hidden-xs 11/11/16
          .max-240
            .general-message-verified.pull-right Verified Reviewer
            .general-message-name May J. Novoa
        .mb-15
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star
          %i.fa.fa-star.rate-star.rate-empty
        %p.reviwer-message If ‘Get a better job’ had landed on my desk a year ago, I might have been dismissive of it. Instead I was prepared to be open-minded. There have been many occasions where I turned to career books with practical activities to look for some inspiration when developing education activities for learners or assessment.
